.oscar-ceremony {
  --text-active: #ffd989;
  --main: #c09845;
  --bg: rgba(192, 152, 69, 0.16);
  --dark-gray: #B6B6BF;
  --typ: 240 14 91;
  --typ-active: 42.12deg 41.27% 50.59%;
}

.hash:hover {
  background: linear-gradient(90deg, rgba(193, 168, 117, 0) 2.2%, rgba(255, 217, 137, 0.2) 53.49%, rgba(91, 79, 55, 0) 100%);
  background-blend-mode: color;
  mix-blend-mode: normal;
}

.hash:hover span {
  /* Text Gradient */
  background: linear-gradient(0deg, #C1A875, #C1A875), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%), linear-gradient(76.82deg, #7D8CA3 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #9FA2A5 82.54%, #D6D6D7 91.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: color, overlay, normal;
  text-shadow: 0px 4px 24px #000000;
}

.chains {
  color: #B6B6BF;
  height: 472px;
  background: url(../../assets/oscar-ceremony/chains-bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0%;
}

.chains h2 {
  /* Gold */
  background: linear-gradient(0deg, #C1A875, #C1A875), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%), linear-gradient(76.82deg, #576265 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #576265 77.23%, #757A7B 85.34%, #576265 91.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: color, overlay, normal;
  /* H1 Drop Shadow */
  text-shadow: 0px 4px 24px #000000;
}

.award-item {
  background:linear-gradient(180deg, rgba(16, 25, 39, 0) 0%, rgba(125, 140, 163, 0.2) 100%);
  border: 1px solid rgba(255, 255, 255, 0.5)
}


.award-title {
  background-image: url(../../assets/oscar-ceremony/award-title.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 232px;
  height: 48px;
  line-height: 48px;
}

.award-line {
  border-left: 1px solid var(--main);
}

.award-tag {
  color: var(--text-active);
  background: var(--bg);
}

.award-name {
/* Text Gradient */
background: linear-gradient(0deg, #C1A875, #C1A875), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%), linear-gradient(76.82deg, #7D8CA3 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #9FA2A5 82.54%, #D6D6D7 91.31%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
background-blend-mode: color, overlay, normal;
text-shadow: 0px 2px 12px #000000;
}

.award-btn-rule {
   /* 渐变背景 */
   background: linear-gradient(180deg, rgba(16, 25, 39, 0) 0%, rgba(125, 140, 163, 0.2) 100%);
   /* 边框渐变 */
   border: 1px solid transparent;
   border-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255,255,255,0.5)) 1;
}

.award-btn-rule span {
  background: linear-gradient(0deg, #000000, #000000), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%), linear-gradient(76.82deg, #7D8CA3 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #9FA2A5 82.54%, #D6D6D7 91.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: color, overlay, normal;
  text-shadow: 0px 2px 12px #000000;
}

.award-btn-apply {
  /* 渐变背景 */
  background: linear-gradient(0deg, rgba(230, 183, 73, 0.1) 0%, rgba(244, 197, 85, 0.1) 70%, rgba(253, 199, 71, 0.1) 100%);
  box-shadow: 0px 2px 8px -2px rgba(126, 101, 44, 0.5);
  /* 边框渐变 */
  border: 1px solid transparent;
  border-image: linear-gradient(45deg, #f8d48c, #fff) 1;
  /* border-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255,255,255,0.5)) 1; */
}

.award-btn-apply span {
  background: linear-gradient(180deg, #FFD989 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 321.6px 273.6px 117.6px rgba(0, 0, 0, 0.01), 205.2px 175.2px 108px rgba(0, 0, 0, 0.09), 115.2px 98.4px 91.2px rgba(0, 0, 0, 0.3), 51.6px 43.2px 67.2px rgba(0, 0, 0, 0.51), 13.2px 10.8px 37.2px rgba(0, 0, 0, 0.59);
}

.award-btn-invatation {
  /* 渐变背景 */
  background: linear-gradient(0deg, rgba(230, 183, 73, 0.05) 0%, rgba(244, 197, 85, 0.05) 70%, rgba(253, 199, 71, 0.05) 100%);
  box-shadow: 0px 2px 8px -2px rgba(126, 101, 44, 0.5);
  /* 边框渐变 */
  border: 1px solid transparent;
  /* border-image: linear-gradient(45deg, #576265 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #576265 77.23%, #757A7B 85.34%, #576265 91.31%) 1; */
  border-image: linear-gradient(45deg, #f8d48c, #fff) 1;
}

.award-btn-invatation span {
  background: linear-gradient(180deg, #FFD989 10%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 321.6px 273.6px 117.6px rgba(0, 0, 0, 0.01), 205.2px 175.2px 108px rgba(0, 0, 0, 0.09), 115.2px 98.4px 91.2px rgba(0, 0, 0, 0.3), 51.6px 43.2px 67.2px rgba(0, 0, 0, 0.51), 13.2px 10.8px 37.2px rgba(0, 0, 0, 0.59);
}

.trophy-gray {
  filter:grayscale(1)
}


.award-item:hover {
  background-image: url(../..//assets/oscar-ceremony/award-first-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .trophy-gray {
    filter:none;
  }
}

.process-title {
  background-image: url(../../assets//oscar-ceremony/process1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 56px;
  line-height: 56px;
  text-indent: 4em;
}

.process-title p {
  /* Text Gradient */
  background: linear-gradient(0deg, #C1A875, #C1A875), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%), linear-gradient(76.82deg, #7D8CA3 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #9FA2A5 82.54%, #D6D6D7 91.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-blend-mode: color, overlay, normal;
  text-shadow: 0px 2px 12px #000000;
}

.process-part-title {
  background-image: url(../../assets//oscar-ceremony/process2.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 51px;
  line-height: 51px;
}

.process-part-content {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.description {
  color: var(--dark-gray)
}
/* 段落 */

.typ {
  color: hsl(var(--typ))
}

.typ-description {
  color: hsl(var(--typ) / .6)
}

.speaker:hover {
  .typ {
    color: hsl(var(--typ-active))
  }
  
  .typ-description {
    color: hsl(var(--typ-active) / .6)
  }
}

.hero {
}

.hero-left {
  clip-path: polygon(0 0, 100% 0, calc(100% - 16rem) 100%, 0 100%, 0 0);
}


.hero-title {
  /* Text Gradient */
  background: linear-gradient(0deg, #C1A875, #C1A875), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%), linear-gradient(76.82deg, #7D8CA3 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #9FA2A5 82.54%, #D6D6D7 91.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: color, overlay, normal;

  /* H1 Drop Shadow */
  text-shadow: 0px 4px 24px #000000;
}

.hero-description {
    /* Text Gradient */
    background: linear-gradient(0deg, rgba(255,255,255, .4), #C1A875);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-blend-mode: color, overlay, normal;
}

.hero-title {
  /* Text Gradient */
  background: linear-gradient(0deg, #C1A875, #C1A875), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%), linear-gradient(76.82deg, #7D8CA3 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #9FA2A5 82.54%, #D6D6D7 91.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: color, overlay, normal;

  /* H1 Drop Shadow */
  text-shadow: 0px 4px 24px #000000;
}

.hero-button {
  color: #B5964D;
  background-image: url(../../assets//oscar/button-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: padding-box
}

.hero-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 1s;
}

.hero-button:hover::before {
  left: 125%;
}

@media screen and (max-width: 768px) {
  .chains {
    height: auto;
    background-size: 100% 100%;
  }
  .process-title {
    background-size: auto 100%;
  }

  .award-item:hover {
    background-size: 100% 100%;
  }

  .hero-left {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 8rem), 0 0);
  }
  .award-description {
    color: #7D8CA3;
  }
}

@media screen and (min-width: 769px) {
  .award-description {
    background: linear-gradient(0deg, #000000, #000000), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%), linear-gradient(76.82deg, #7D8CA3 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #9FA2A5 82.54%, #D6D6D7 91.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-blend-mode: color, overlay, normal;
    text-shadow: 0px 2px 12px #000000;
    }
}