.prizeBg {
  background-image: url("../../assets/oscar/Prize-Banner-Animation.svg");
  background-size: 1920px;
}

.prizeBgMb {
  background-image: url("../../assets/oscar/Prize-Banner-Animation-mb.svg");
  background-size: 800px;
}

.cardBg {
  background-image: url("../../assets/oscar/oscarCard.png");
  background-size: 100% 100%;
}

.cardBg:hover {
  background-image: url("../../assets/oscar/oscarCard2.png");
}

.processBorder {
  border: 1px solid;
  border-image-source: linear-gradient(
    63.17deg,
    rgba(255, 255, 255, 0.7) -31.74%,
    rgba(255, 255, 255, 0) 96.3%
  );
}

.ceremony {
  color: #3e2e09;
  clip-path: polygon(0 0, 50% 2.25rem, 100% 0, 100% 100%, 0 100%);
  width: 100%;
}

.banner {
  width: 100vw;
  height: 100vw;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 2.25rem),
    50% 100%,
    0 calc(100% - 2.25rem),
    0 0
  );
  background: url(../../assets/oscar/overlay-mobile.png);
}

.banner-carousel {
  background: url(../../assets/oscar/overlay-mobile.png);
  background-repeat: no-repeat;
  object-fit: cover;
}

.banner-button {
  color: #b5964d;
  background-image: url(../../assets//oscar/button-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: padding-box;
}

.banner-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 1s;
}

.banner-button:hover::before {
  left: 125%;
}

@media screen and (min-width: 769px) {
  .ceremony {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 6rem 50%);
    width: calc(23vw + 6rem);
    min-width: calc(400px + 6rem);
  }
  .banner {
    width: clamp(calc(100vw - 400px - 6rem), 77vw, 77vw);
    height: calc(77vw / 2);
    max-height: 80vh;
    clip-path: polygon(
      0 0,
      calc(100% - 6rem) 0,
      100% 50%,
      calc(100% - 6rem) 100%,
      0 100%
    );
  }
  .banner-carousel {
    background: url(../../assets/oscar/overlay-esktop.png);
  }
}

/* 1653 = (400px + 6rem) / 0.3 */
@media screen and (min-width: 2147px) {
  .banner {
    width: 77vw;
  }
}

.banner-title {
  background: linear-gradient(
      76.82deg,
      #7d8ca3 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #9fa2a5 82.54%,
      #d6d6d7 91.31%
    ),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    #c1a875;
  background-blend-mode: overlay color;
  background-clip: text;
  color: transparent;
}

.award-title {
  background-image: url(../../assets/oscar/award-title.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 260px;
  height: 48px;
  line-height: 48px;
}
