.prizeBg {
  background-image: url("../../assets/oscar/Prize-Banner-Animation.svg");
  background-size: 1920px
}

.prizeBgMb {
  background-image: url("../../assets/oscar/Prize-Banner-Animation-mb.svg");
  background-size: 800px;
}

.cardBg {
  background-image: url("../../assets/oscar/oscarCard.png");
  background-size: 100% 100%;
}

.cardBg:hover {
  background-image: url("../../assets/oscar/oscarCard2.png");
}

.processBorder {
  border: 1px solid;
  border-image-source: linear-gradient(63.17deg, rgba(255, 255, 255, 0.7) -31.74%, rgba(255, 255, 255, 0) 96.3%);
}


.ceremony {
  background: url(../../assets/oscar/Ceremony\ banner-mobile.webp);
  color: #3E2E09;
  clip-path: polygon(0 0, 50% 2.25rem, 100% 0, 100% 100%, 0 100%);
  width: 100%;
}

.banner {
  width: 100vw;
  height: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.25rem), 50% 100%, 0 calc(100% - 2.25rem), 0 0);
  background: url(../../assets/oscar/overlay-mobile.png);
}

.banner-carousel {
  background: url(../../assets/oscar/overlay-mobile.png);
  background-repeat: no-repeat;
  object-fit: cover;
}


.banner-button {
  color: #B5964D;
  background-image: url(../../assets//oscar/button-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: padding-box
}

@media screen and (min-width: 769px) {
  .ceremony {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 6rem 50%);
    width: 30vw;
    background: url(../../assets/oscar/Ceremony\ banner.webp);
  }
  .banner {
    width: calc(70vw + 12rem);
    height: calc((70vw + 12rem) / 2);
    max-height: 80vh;
    clip-path: polygon(0 0, calc(100% - 6rem) 0, 100% 50%, calc(100% - 6rem) 100%, 0 100%);
    
  }
  .banner-carousel {
    background: url(../../assets/oscar/overlay-esktop.png);
  }


  .banner-button {
    background-image: url(../../assets//oscar/button-desktop.png)
  }
}

.banner-title {
  background: linear-gradient(76.82deg, #7D8CA3 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #9FA2A5 82.54%, #D6D6D7 91.31%), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%), #C1A875;
  background-blend-mode: overlay color;
  background-clip: text;
  color: transparent;
}
