.prizeBg {
  background-image: url("../../assets/oscar/Prize-Banner-Animation.svg");
  background-size: 1920px
}

.prizeBgMb {
  background-image: url("../../assets/oscar/Prize-Banner-Animation-mb.svg");
  background-size: 800px;
}

.cardBg {
  background-image: url("../../assets/oscar/oscarCard.png");
  background-size: 100% 100%;
}

.cardBg:hover {
  background-image: url("../../assets/oscar/oscarCard2.png");
}

.processBorder {
  border: 1px solid;
  border-image-source: linear-gradient(63.17deg, rgba(255, 255, 255, 0.7) -31.74%, rgba(255, 255, 255, 0) 96.3%);
}


.ceremony {
  background: 
  linear-gradient(343deg, rgba(62, 46, 9, 0) 38%, #3E2E09 95%),
  linear-gradient(350deg, #576265 6%, #B6B6BF 48%, #576265 99%),
  rgba(193, 168, 117, 1);
  background-blend-mode: soft-light;
  color: #3E2E09;
  clip-path: polygon(0 0, 50% 2.25rem, 100% 0, 100% 100%, 0 100%);
}

.banner {
  width: 100vw;
  height: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.25rem), 50% 100%, 0 calc(100% - 2.25rem), 0 0);
  background: url(../../assets/oscar/overlay-mobile.png);
}

.banner-carousel {
  background: url(../../assets/oscar/overlay-mobile.png);
  background-repeat: no-repeat;
  object-fit: cover;
}

@media screen and (min-width: 769px) {
  .ceremony {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 6rem 50%);
  }
  .banner {
    width: calc(100vw - 12rem);
    height: calc((100vw - 12rem) / 1.5);
    max-height: 90vh;
    clip-path: polygon(0 0, calc(100% - 6rem) 0, 100% 50%, calc(100% - 6rem) 100%, 0 100%);
    
  }
  .banner-carousel {
    background: url(../../assets/oscar/overlay-esktop.png);
  }
}

.banner-title {
  background: linear-gradient(76.82deg, #7D8CA3 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #9FA2A5 82.54%, #D6D6D7 91.31%), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%), rgba(193, 168, 117, 1);
  background-blend-mode: soft-light;
  background-clip: text;
  color: transparent;
}

.banner-button {
  box-shadow: 0px 2px 8px -2px #7E652C80;
  color: #B5964D;
  border: 1px solid; /* 边框宽度 */
  /* border-image-source: linear-gradient(76.82deg, #576265 11.6%, #9EA1A1 25.31%, #848B8A 48.06%, #576265 55.72%, #576265 77.23%, #757A7B 85.34%, #576265 91.31%),
  linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #FFFFFF 95.95%); */
}