.awards {
  background: url(../../../assets/hackathon/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    165.23deg,
    rgba(0, 0, 0, 0.4) 29.81%,
    rgba(0, 0, 0, 0) 42.46%,
    rgba(0, 0, 0, 0) 67.45%,
    rgba(0, 0, 0, 0.4) 91.71%
  );
}
