@keyframes scrollY {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }
  100% {
    transform: translateY(100%);
    opacity: 0%;
  }
}

.count-down {
  transition: transform;
  animation: scrollY 0.6s linear forwards;
}

.count-down-wrapper {
  /* filter: drop-shadow(0 12px 40px rgb(255 202 92 / 0.2)) */
}
.count-down-wrapper::before {
  content: "";
  position: absolute;
  inset: -1px;
  background: linear-gradient(45deg, #C1A875, transparent),
  linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
  linear-gradient(135deg, #576265, #9EA1A1 17%, #848B8A 46%, #576265 55%, #576265 82%, #757A7B 93%, #576265 100%);
  /* z-index: -1; */
}
.count-down-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #151D28;
  /* z-index: -1; */
}